<h1>Make your form here</h1>
<form method="POST" action="/pirates">
    <h2>Pirate</h2>
    <input id="pirate_name" type="text" name="pirate[name]" value="Name"/>
    <input id="pirate_weight" type="text" name="pirate[weight]" value="Weight"/>
    <input id="pirate_height" type="text" name="pirate[height]" value="Height"/>
    <br>
    <h2>Ships</h2>
    <input id="ship_name_1" type="text" name="pirate[ships][][name]" value="Name1"/>
    <input id="ship_type_1" type="text" name="pirate[ships][][type]" value="Type1"/>
    <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" value="Booty1"/>
    <br>
    <input id="ship_name_2" type="text" name="pirate[ships][][name]" value="Name2"/>
    <input id="ship_type_2" type="text" name="pirate[ships][][type]" value="Type2"/>
    <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" value="Booty2"/>
    <input type="submit" value="Submit">
</form>